package com.example.don96.login;

import android.accessibilityservice.FingerprintGestureController;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.Button;
import android.widget.EditText;
import android.widget.TextView;

public class Welcome extends AppCompatActivity {

    EditText pw,username;

    TextView tv;

    Button btnLogin;

    // hardcode some fake SQL data
    final String PASSWORD = "P@55w0rD";
    final String USERNAME = "BigWindows";

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_welcome);

        //Connect all the xml elements
        btnLogin = (Button) findViewById(R.id.btn);

        pw = (EditText) findViewById(R.id.txtPassword);
        username = (EditText) findViewById(R.id.txtUsername);

        tv = (TextView) findViewById(R.id.tv);
    }

        // if the username matches up with the test data set a textView to success
        // or print failure
    public void attemptLogin(View v){
        if (username.getText().toString()==USERNAME){
            tv.setText("Success");
        }else{
            tv.setText("Failiure "+username.getText().toString());
        }


    }
}
